@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("com.github.twitter/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <script type='text/javascript' src='@controllers.routes.Assets.at("javascripts/jquery.min.js")'></script>
        <script type='text/javascript' src='@controllers.routes.Assets.at("com.github.twitter/bootstrap/js/bootstrap.min.js")'></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">@title</a>
                </div>
            </div>
        </div>
    
        <div class="container">
            @content
        </div>
    </body>
</html>
